{% extends 'pages/base.html' %}
{% block title %}Reservar{% endblock %}
{% load static %}
{% block contenido %}
<body style="background-color: #08264e;">
    

    <div class="card" id="cardPrincipal" style="text-align: center;">
        <button id="btnBanner"  style="background-color: #ffffff; align-self: center; margin: 5px;" > <a href="catalogo.html"> retroceder </a></button>
        <div class="card" id="peliReserva" style="width: 400px; height: 600px; margin: 15px;">
            <img src="{{pelicula.img_pelicula.url}}" alt="">
        </div>
    </div>
</body>
{% endblock %}