{% extends 'pages/base.html' %}
{% block title %}catalogo{% endblock %}
{% load static %}
{% block contenido %}
<body style="background-color: #08264e;">
    <div class="card" style="text-align: center;" id="cardPrincipal">
        <div id="banner" class="row" style="margin-bottom: 1%; margin-top: 1%;">
            <div class="col-lg-6" style="text-align: left;">
                <input type="text" placeholder="Buscar película" style="border-radius: 10px; margin-left: 2%;">
            </div>
            <div class="col-lg-3">
                <button id="btnBanner" style="background-color: #696969">Registrarse</button>
            </div>
            <div class="col-lg-3">
                <button id="btnBanner" style="background-color: #0d3367;">Iniciar Sesión</button>
            </div>
        </div>
        <div id="carousel" class="carousel slide" data-bs-ride="carousel" style="margin-bottom: 2%;">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="../Pages/reserva.html" onclick="guardarImagen('../assets/elPadrinoLarge.jpg')">
                        <img src="{% static 'assets/elPadrinoWide.jpg' %}" alt="" style="height: 200px; width: 100%;">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="../Pages/reserva.html" onclick="guardarImagen('../assets/fridayThe13th.jpg')">
                        <img src="{% static 'assets/fridayThe13thWide.jpg' %}" alt="" style="height: 200px; width: 100%;">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="../Pages/reserva.html" onclick="guardarImagen('../assets/The-Super-Mario-Bros.-Movie-poster.jpg')">
                        <img src="{% static 'assets/MarioWide.jpg' %}" alt="" style="height: 200px; width: 100%;">
                    </a>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>            
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card" id="cardCatalogo">
                    <a href="../Pages/reserva.html" onclick="guardarImagen('../assets/elPadrinoLarge.jpg')">
                        <img src="{% static 'assets/elPadrinoLarge.jpg' %}" alt="" id="imgCatalogo">
                    </a>
                    <a href="../Pages/reserva.html" id="linkPelicula">El Padrino Parte 1</a>
                </div>
                <div class="card" id="cardCatalogo" onclick="guardarImagen('../assets/venom.jpeg')">
                    <a href="../Pages/reserva.html">
                        <img src="{% static 'assets/venom.jpeg' %}" alt="" id="imgCatalogo">
                    </a>
                    <a href="../Pages/reserva.html" id="linkPelicula">Venom</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card" id="cardCatalogo" onclick="guardarImagen('../assets/fridayThe13th.jpg')">
                    <a href="../Pages/reserva.html">
                        <img src="{% static 'assets/fridayThe13th.jpg' %}" alt="" id="imgCatalogo">
                    </a>
                    <a href="../Pages/reserva.html" id="linkPelicula">Friday the 13th</a>
                </div>
                <div class="card" id="cardCatalogo" onclick="guardarImagen('../assets/alien.jpg')">
                    <a href="../Pages/reserva.html">
                        <img src="{% static 'assets/alien.jpg' %}" alt="" id="imgCatalogo">
                    </a>
                    <a href="../Pages/reserva.html" id="linkPelicula">Alien</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card" id="cardCatalogo">
                    <a href="../Pages/reserva.html" onclick="guardarImagen('../assets/The-Super-Mario-Bros.-Movie-poster.jpg')">
                        <img src="{% static 'assets/The-Super-Mario-Bros.-Movie-poster.jpg' %}" alt="" id="imgCatalogo">
                    </a>
                    <a href="../Pages/reserva.html" id="linkPelicula">Super Mario</a>
                </div>
                <div class="card" id="cardCatalogo" onclick="guardarImagen('../assets/xmenApocalypse.jpg')">
                    <a href="../Pages/reserva.html">
                        <img src="{% static 'assets/xmenApocalypse.jpg' %}" alt="" id="imgCatalogo">
                    </a>
                    <a href="../Pages/reserva.html" id="linkPelicula">X Men Apocalipsis</a>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}