<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css/global.css">
</head>
<body style="background-color: #08264e;">
    <div style="text-align: center;">
        <img src="../assets/WhatsApp Image 2024-11-14 at 11.55.43.jpeg" alt="" style="height: 20%; width: 20%;">
    </div>
    <div style="text-align: center; margin-top: 2%;">
        <input type="text" class="input" style="background-color: #3d6cab;">
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>